{% extends "base.html" %}

{% block title %}{{ NEST_INDEX_HEAD_TITLE }} {% if articles_page.has_previous() %}- page {{ articles_page.number }} {% endif %}- {{ super() }}{% endblock title %}
{% block description %}{{ SITENAME }}, {{ SITESUBTITLE }}{% endblock description %}

{% block headerstyle %}
{% if NEST_HEADER_IMAGES %}
<div class="header-container" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('{{ SITEURL }}/images/{{ NEST_HEADER_IMAGES }}'); background-position: center; ">
  {% else %}
  <div class="header-container index">
    {% endif %}
    {% endblock headerstyle %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% if DEFAULT_PAGINATION %}
    <div class="archive-container">
      <div class="container content archive">
        <p>
          Hi! I'm Chris, the CTO and co-founder
          of <a href="https://www.grove.co">Grove Collaborative.</a>
          Over the years I've written a number of articles
          about <strong>software, technology, and teams</strong>.
        </p>
        <h3>
          Posts{% if articles_page.has_previous() %}<small class="pull-right">page {{ articles_page.number }}</small>{% endif %}</a>
        </h3>
        <p>&nbsp;</p>
        <dl class="dl-horizontal">
          {% for article in articles_page.object_list %}
            <dt>{{ article.locale_date }}</dt>
            <dd>
              <a href="{{ SITEURL }}/{{ article.url }}"><strong>{{ article.title }}</strong></a>
              {{ article.summary }}
              <p>&nbsp;</p>
            </dd>
          {% endfor %}
        </dl>
      </div>
    </div>
    {% include 'pagination.html' %}
    {% else %}
    <div class="archive-container">
      <div class="container content archive">
        <h2><a href="{{ SITEURL }}/">{{ NEST_INDEX_CONTENT_TITLE }}</a></h2>
        <dl class="dl-horizontal">
          {% for article in articles %}
            <dt>{{ article.locale_date}}</dt>
            <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
          {% endfor %}
        </dl>
      </div>
    </div>
    {% endif %}
    {% endblock content %}
