/* Lightly modified from https://github.com/molivier/nest */
/* Responsive */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 850px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 850px;
  }
}

/* Default styling */
body {
    font-family: "Open Sans", sans-serif;
    color: #4b505a;
    background-color: #f8f7f5;
    font-size: 16px;
    line-height: 24px;
    text-rendering: optimizeLegibility;
}

th, td {
    padding: 2px;
}

/* Links */
a, a:visited { 
    color: #F26C4F; 
    text-decoration: none; 
    transition: all 0.2s ease-out;
   }

a:hover, a:active{ 
    text-decoration:underline; 
    color:#F26C4F; 
}

a.navigate{
    background-color: rgba(0,0,0,0.5);
    padding-left: 4px;
    padding-right: 4px;
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
}

a.navigate:hover{
    opacity: 0.8;
}

a.more {
    margin-top: 30px;
}

/* Syntax Highlighting */
pre, code {
    background: #E9F2F9;
    padding: 34px;
    font-family: 'Source Code Pro', Consolas, monaco, monospace;
    border-radius: 0px;
    color: #4b505a;
    font-size: 16px;
}

code {
    padding: 3px 4px;
}

.linenos pre, .highlight pre {
	border:none;
    margin: 24px 0;
    padding: 24px;
	background:#333;
	color:#fff
}

/* Titles */
h1, h2, h3, h4 {
    color: #1B325F;
}

h1 { 
    font-size: 28px;
    line-height: 1.285714285714286em; 
    font-weight: 600;
    letter-spacing: 2px;
    border:none;
}

h2 { 
    font-size: 20px;
    line-height: 1.285714285714286em; 
    font-weight: 600;
    margin-top: 40px;   
    margin-bottom: 40px;
}

h2:after {
    display: block;
    content: " ";
    margin-top: 10px;
    width: 40px;
    border-bottom: 3px solid #9CC4E4;
}

h3 { 
    font-size: 16px;
    line-height: 1.285714285714286em; 
    font-weight: 600;
    margin-top: 30px; 
    margin-bottom: 30px;
}

h3:after {
    display: block;
    content: " ";
    margin-top: 10px;
    width: 40px;
    border-bottom: 3px solid #F26C4F;
}

h4 { 
    font-size: 12px;
    line-height: 1.285714285714286em; 
    font-weight: 600;
    margin-top: 30px; 
    margin-bottom: 30px;
    text-transform: uppercase;
}

h4:after {
    display: block;
    content: " ";
    margin-top: 10px;
    width: 40px;
    border-bottom: 3px solid rgba(0,0,0,0.2);    
}

/* Navbar */
.header-nav{
    height:100px;
    line-height:100px;
    color:#fff;
    font-weight:600;
}

.header-nav .nav{
    float:right;
}

.header-nav .nav a{
    font-weight:600;
    color:#fff;
    text-decoration:none;
    padding:8px;
    margin-left:20px;
    text-transform: uppercase;
    transition: all 0.2s ease-out;
}

.header-nav .nav a:hover{
    color:#fff;
    font-weight:600;
    opacity: 1;
    background-color: rgba(0,0,0,0.2);
}

.header-nav .nav .active{
    /*color:#fff;*/
    color:#fff;
    font-weight:600;
    background-color: rgba(0,0,0,0.2);
}

.header-logo {
    font-weight:600;
    text-transform: uppercase;
}

.header-logo a {
    color: #fff;
    text-decoration: none;
}

/* Header */
.header-container {
    -webkit-font-smoothing:antialiased;
    background: #f5f5f5;
    padding: 0;
    min-height: 360px;
}

.header-wrapper{
    padding-left: 64px;
    padding-right: 64px;
}

.header-content {
    padding: 25px 0 0 0;
}

.header-page {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-about {
    background-color: #333333 !important;
}

.header-title {
    font-size: 28px;
    color: #fff;
    font-weight: 700;
}

.header-title small {
    color: #fff;
}

.header-title a {
    color: #fff;
    text-decoration: none;
}

.header-date {
    margin-top: 15px;
    color: #fff;
    opacity: 0.8;
}

.header-date a {
    color: #fff;
    text-decoration: underline;
}

.header-underline {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50px;
    border-bottom: 3px solid #1B325F;
}

.header-subtitle {
    line-height: 24px;
    color: #fff;
    font-weight: 300;
}

.header-subtitle-homepage {
    font-style: italic;
}

.header-tags {
    font-size: 11px;
    color: #fff;
    font-style: italic;
}

.header-tags a {
    color: #fff;
}

/* Content */
.content{
    margin: 40px auto;
    padding: 0 16px;
}

.content img{
    border: 0;
    display: block;
    min-width: 80%;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content.highlight pre {
    padding-left: -24px;
    padding-right: -24px;
}

/* Navigation */
.navigation{
    margin: 24px 0;
    padding: 0;
}
.navigation2{
    margin: 24px 0;
}

/* Menu */

.menu h4{
    margin-top: 0px;
    margin-bottom: 5px;  
}

.menu a{
  color: #fff;
  padding:0px;
  background-color: #F26C4F;
  padding: 2px 3px;
  opacity: 0.6;
}

/* Article */
.article-container{
    margin-top: 24px; 
}

.article {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.article h2{
    margin-top: 0px;
    margin-bottom: 5px;  
}

.article h2 a{
    color: #4b505a;
    text-decoration: None;
}

.article .date{
    font-size: 12px;
    margin-bottom: 10px;
    opacity: 0.9;  
}

/* Archives */
.archive-container{
    margin-top: 40px;
    margin-bottom: 40px; 
}

.archive h2{
    margin-top: 15px;
    margin-bottom: 20px;  
}

.archive h2 a{
    color: #1B325F;
    text-decoration: None;
}

.archive dt{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;    
}

/* Styling */
blockquote{
    opacity: 0.75;
    font-size: 16px;
    border-left: none;
    font-style: italic;
    border-left: 3px solid #9CC4E4;
    padding: 0px 20px;
    margin: 16px 0 16px 16px;
}

/* Comments */
.comments{
    margin-top: 40px;
}

/* Spaces */
.mr5 {
    margin-right: 5px;
}

.mr20 {
    margin-right: 20px;
}

/* Gradients */
.gradient {
    background-color: #3A89C9;
}

/* Footer */
.footer{
    background-color: #1B325F;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #fff;
    -webkit-font-smoothing:antialiased;
}

.footer-title {
    text-transform: uppercase;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 12px;
}

.footer-container{
    padding: 24px 0;
}

.footer a{
    color: #fff;
}

/* Palette

#1B325F
#9CC4E4
#E9F2F9
#3A89C9
#F26C4F

*/