html, body {
    font-family: "Computer Modern Concrete", sans-serif;
    font-size: $baseFontSize / 16 * 100%;
    -webkit-font-smoothing: antialiased;
    color: $font-color;
    background-color: $body-bg;
}

p {
    line-height: $leading;
    margin-top: $leading;
    margin-bottom: 0;
}

li {
    line-height: $leading;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

blockquote {
    line-height: $leading;
    margin: 1rem 0 1rem 1rem;
    padding: 0px 1.25rem;
    opacity: 0.75;
    border-left: 3px solid $accent;
    font-style: italic;
}

dl {
    margin-top: 0;
    margin-bottom: $leading;
}

dt, dd {
    line-height: $leading;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 10rem;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .dl-horizontal dd {
        margin-left: 12.5rem;
    }
}

th, td {
    padding: 2px;
}

a, a:visited {
    color: $alert;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
        text-decoration: underline;
    }

    &.navigate{
        background-color: transparentize($black, 0.5);
        padding-left: 4px;
        padding-right: 4px;
        min-width: 100px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        color:$white;
        text-decoration: none;
        :hover{
            opacity: 0.8;
        }
    }
    &.more {
        margin-top: 30px;
    }
}

pre, code {
    background: $subtle;
    padding: 2rem;
    font-family: 'Source Code Pro', Consolas, monaco, monospace;
    border-radius: 0px;
    color: $font-color;
    font-size: 0.8rem;
}

code {
    padding: 3px 4px;
}

.linenos pre, .highlight pre {
    border:none;
    margin: $leading 0;
    padding: $leading;
    background: $code-bg;
    color: $white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: $leading;
    margin-bottom: 0;
    line-height: $leading;
    color: $dark;
}

h1 {
    font-size: 2 * $scale * 1rem;
    line-height: 2 * $leading;
    margin-top: 1.5 * $leading;
}

h2 {
    font-size: 1.5 * $scale * 1rem;
    line-height: 1.5 * $leading;
    margin-top: $leading;

    &:after {
        display: block;
        content: " ";
        margin-top: .75rem;
        width: 2.5rem;
        border-bottom: 3px solid $accent;
    }
}

h3 {
    font-size: 1 * $scale * 1rem;

    &:after {
        display: block;
        content: " ";
        margin-top: .75rem;
        width: 2.5rem;
        border-bottom: 3px solid $alert;
    }
}

h4 {
    font-size: $scale / 1.5 * 1rem;

    &:after {
        display: block;
        content: " ";
        margin-top: .75rem;
        width: 2.5rem;
        border-bottom: 3px solid transparentize($black, 0.8);
    }
}

h5 {
    font-size: $scale / 2 * 1rem;
}

h6 {
    font-size: $scale / 2.5 * 1rem;
}

.header-container {
    background-color: $primary;
    min-height: 360px;
    color: $white;
    @media (min-width: 1120px) {
        background-size: contain;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;

    &.index {
        min-height: 0;
    }

    .header-darken {
        background: linear-gradient(transparentize($black, 0.8), transparentize($black, 0.8));
        min-height: 360px;
    }

    h1 {
        color: $white;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    &.header-about {
        background-color: $code-bg !important;
    }

    .header-nav{
        height: $leading * 4;
        line-height: $leading * 4;
        text-transform: uppercase;

        .nav{
            a {
                padding: .5rem;
                margin-left: 1.25rem;
                transition: all 0.2s ease-out;
            }

            a:hover {
                opacity: 1;
                background-color: transparentize($black, 0.8);
            }

            .active{
                background-color: transparentize($black, 0.8);
            }
        }
    }

    .header-wrapper{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .header-subtitle {
        margin-top: 0;
        font-style: italic;
        padding-bottom: $leading * 2;

        a {
            text-decoration: underline;
        }
    }

    .header-underline {
        display: inline-block;
        margin-top: .75rem;
        margin-bottom: 1rem;
        width: 3.125rem;
        border-bottom: 3px solid $dark;
    }
}

.content{
    margin: $leading auto;
    padding: 0 1rem;

    &.highlight pre {
        padding-left: -$leading;
        padding-right: -$leading;
    }

    img {
        border: 0;
        display: block;
        min-width: 80%;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: $leading;
        margin-bottom: $leading;
    }
}

/* Hack for captions */
img + em {
    background: $subtle;
    position: relative;
    top: -$leading;
    width: 100%;
    display: block;
    padding: 1rem;
    font-style: normal;
}

.navigation{
    margin: 0 auto $leading;
    padding: 0 1rem;
}

.paginate {
    font-size: 1rem;
    font-style: italic;
    color: $dark !important;
}

.archive {

    @media (min-width: 768px) {
        dl {
            border-left: 1px solid $accent;
        }
    }

    h2 {
        margin-top: 1rem;
        margin-bottom: $leading;

        a {
            color: $dark;
            text-decoration: None;
        }

    }

    dt {
        font-size: .9rem;
        font-weight: 400;
        line-height: $leading;
    }
}

.comments{
    margin-top: 2.5rem;
}

.footer {
    background-color: $dark;
    font-size: 1rem;
    font-weight: 300;
    color: $white;

    .footer-title {
        text-transform: uppercase;
        margin-bottom: 3px;
        font-weight: 600;
    }

    .footer-container {
        padding-top: $leading;
        padding-bottom: $leading;
    }

    a {
        color: $white;
    }
}

.newsletter {
    margin-bottom: 2.5rem;
}

.projects {
    p {
        margin-bottom: $leading;
    }
}
